@import '../styles/global';

.build-area {
    flex-shrink: 0;
    display: inline-block;
    font-size: $field-size;
    margin-top: 20px;
    padding: 0 1rem;

    &__row {
        display: flex;
    }

    &__field-slot {
        @include fieldSquare;
        outline: 1px solid white;
        cursor: pointer;

        > * {
            pointer-events: none;
        }
    }
}
