@import '../styles/global';

.build-area {
    $bckColor: rgb(240, 240, 240);
    flex-shrink: 0;
    display: inline-block;
    background-color: $bckColor;
    font-size: $field-size;
    margin-top: 20px;

    &__row {
        display: flex;
    }

    &__field-slot {
        @include fieldSquare;
        outline: 1px solid darken($bckColor, 10%);
        cursor: pointer;

        > * {
            pointer-events: none;
        }
    }
}
