@import '../styles/global';

.game-wrapper {
    display: flex;
    justify-content: center;
}

.game-status {
    display: flex;
    justify-content: space-between;
}

.reset-btn {
    @extend .plain-button;
    $color: rgb(239, 239, 239);
    $size: 24px;
    width: $size;
    height: $size;
    cursor: pointer;
    background-color: $color;

    &:hover {
        background-color: darken($color, 10%);
    }
}

// TODO add perspective?
.game {
    position: relative;
    display: table;
    font-size: $field-size;
}

.movable-wrapper {
    position: absolute;
    display: inline-block;
    transition: 0.25s left linear, 0.25s top linear;

    &--no-transition {
        transition: none;
    }
}
