@import '../styles/global';

@keyframes scan {
    0% {
        transform: translate(-50%, -50%);
    }
    25% {
        transform: translate(0%, -50%);
    }
    50% {
        transform: translate(-50%, -50%);
    }
    75% {
        transform: translate(-100%, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

.map-item {
    @include square($menu-height);
    border-radius: 1rem 1rem 0 0;
    background-color: $app-color;
    filter: opacity(40%);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: filter 0.2s;

    &:hover {
        filter: opacity(100%);
        .map-item__map {
            animation: 3s scan 0.5s linear infinite;
        }
        .map-item__delete {
            opacity: 1;
        }
    }

    &--selected {
        filter: none;
    }

    &__map {
        font-size: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__delete {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.2s, color 0.2s;

        &:hover {
            color: red;
        }
    }
}