@import '../styles/global';

@keyframes scan {
    0% {
        transform: translate(-50%, -50%);
    }
    25% {
        transform: translate(0%, -50%);
    }
    50% {
        transform: translate(-50%, -50%);
    }
    75% {
        transform: translate(-100%, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

.maps-container {
    display: flex;
    $item-gap: 5px;
    gap: $item-gap;
    padding: 0 $item-gap;

    &__map {
        flex-shrink: 0;
    }
}

.map-item {
    @include square($menu-height);
    background-color: white;
    filter: opacity(40%);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: filter 0.2s;

    &:hover {
        filter: opacity(100%);
        .map-item__map {
            animation: 3s scan 0.5s linear infinite;
        }
        .map-item__delete {
            opacity: 1;
        }
    }

    &--selected {
        filter: none;
    }

    &__map {
        font-size: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__delete {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        color: black;
        opacity: 0;
        transition: opacity 0.2s, color 0.2s;

        &:hover {
            color: red;
        }
    }
}
