@import '../styles/global';

.top-menu {
    display: flex;
    height: $menu-height;
    background-color: $app-secondary-color;

    &__button {
        flex: none;
        @include square($menu-height);
        cursor: pointer;
        background-color: $app-color;
        color: white;
    }

    &__maps {
        flex-grow: 1;
        overflow-x: auto;
        overflow-y: hidden;
    }
}
