@import '../styles/global';

.top-menu {
    display: flex;
    height: $menu-height;
    background-color: lighten($background-color, 20%);

    &__button {
        flex-shrink: 0;
        @include square($menu-height);
        cursor: pointer;
        background-color: $background-color;
        color: white;
    }

    &__maps {
        flex-grow: 1;
        overflow-x: auto;
        overflow-y: hidden;
    }
}
